{
    "prefix": "!",
    "token": "",
    "seed": "example",
    "server": {
        "id": "",
        "name": "Example Society",
        "email": "email@example.com"
    },
    "categories": {
        "exec": "",
        "archive": "",
        "moveable": {
            "events1": "",
            "events2": ""
        }
    },
    "channels": {
        "welcome": "",
        "rules": "",
        "verify": ""
    },
    "roles": {
        "verified": "",
        "exec": ""
    }
}
